/* Recursive font family */
@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/recursive-v44-latin-regular.woff2') format('woff2'),
       url('../fonts/recursive-v44-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/recursive-v44-latin-500.woff2') format('woff2'),
       url('../fonts/recursive-v44-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/recursive-v44-latin-600.woff2') format('woff2'),
       url('../fonts/recursive-v44-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/recursive-v44-latin-700.woff2') format('woff2'),
       url('../fonts/recursive-v44-latin-700.woff') format('woff');
}

/* Roboto font family */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v49-latin-300.woff2') format('woff2'),
       url('../fonts/roboto-v49-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v49-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v49-latin-500.woff2') format('woff2'),
       url('../fonts/roboto-v49-latin-500.woff') format('woff');
}
