<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/subscribe.js" defer></script>

<div class="container">
  <div class="subscribe-ee">
    <form id="subscribe-form" method="post" data-netlify="true" name="subscribe" data-netlify-recaptcha="true">
      <div class="subscription-box">
        <h3 id="submission-status" style="text-align: center; padding-top: 20px; padding-bottom: 10px">
          Subscribe to the EphemeralEnvironments.io newsletter
        </h3>
        <fieldset style="display: flex; flex-wrap: wrap; flex: 0; gap: 0.75rem;">
          <input id="email" type="email" name="EMAIL" placeholder="Your email" required />
          <button id="submit-btn" class="read-more">
            Submit
          </button>
          <div id="recaptcha" class="g-recaptcha" name="recaptcha" data-sitekey="6LcxqnEpAAAAAM42eE1-IoD0_ZNEfnn5oh4RaSmf"
          style="margin-left: 2%;padding: 2px 10px;"></div>
        </fieldset>
      </div>
    </form>
  </div>
</div>