<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/subscribe.js" defer></script>

<div class="container">
  <div class="subscribe-ee">
    <form
      id="subscribe-form"
      method="post"
      data-netlify="true"
      name="subscribe"
    >
      <div class="subscription-box">
        <h3 id="thanks" hidden>Thank you for subscribing!</h3>
        <fieldset>
          <h3
            id="submission-status"
            style="text-align: center; padding-top: 20px; padding-bottom: 10px"
          >
            Subscribe to the EphemeralEnvironments.io newsletter
          </h3>
          <input
            id="email"
            type="email"
            name="EMAIL"
            placeholder="Your email"
            required
          />
          <button id="submit-btn" class="read-more">Submit</button>
        </fieldset>
      </div>
    </form>
  </div>
</div>
